body {
  background-color: #aaa;
}

a {
  color: blue;
  text-decoration-line: underline;
  text-decoration-style: dotted;
}

a:hover {
  text-decoration-style: solid;
}

/* remove styles input type number */
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type='number'] {
  -moz-appearance: textfield;
}
