extends layout 

block content
  h1= title
  hr
  if artists_list.length !== 0
    ul 
      each artist in artists_list 
        li
          h2 
            a(href=artist.url)!= artist.name 
          p!= artist.description_short

  else 
    p There are no artists here yet  
    p 
      a(href="/music/artist/create") Create artist