extends layout 

block content
  h2(class="font-bold text-xl my-4 max-w-xl mx-auto") Artists

  if artistsList.length !== 0 
    ul(class="grid grid-cols-1 gap-4")
      each artist in artistsList
        li(class="flex items-stretch gap-4")
          if artist.image === null 
            img(src=`/images/default.png`, class="aspect-square w-20 rounded-lg object-cover border", alt="Placeholder image because this artist doesn't have one")
          else
            img(src=`/images/uploads/${artist.image}` class="aspect-square w-20 rounded-lg object-cover border" alt=`${artist.name} thumbnail image!`)
          div
            h3(class="text-lg/tight font-medium")
              a(href=artist.url)!= artist.name
            p(class="mt-0.5 text-gray-700")!= artist.description_short

  else 
    p There are no artists here yet  
    p 
      a(href="/music/artist/create") Create artist