extends layout 

block content
  h2(class="") Artists
  
  if artistsList.length !== 0
    ul(class="max-w-xl mx-auto border p-4")
      each artist in artistsList 
        li(class="flex gap-4 justify-between items-center my-2")
          div(class="w-14 h-14 flex justify-center items-center") 
            if artist.image === null
              img(class="object-center object-cover h-full block" src=`/images/default.png`, alt=`Placeholder image 'cause this artist doesn't have one`)
            else 
              img(class="object-center object-cover h-full block" src=`/images/uploads/${artist.image}`, alt=`${artist.name} image`)
          div.flex-1
            h2 
              a(href=artist.url)!= artist.name 
            p!= artist.description_short

  else 
    p There are no artists here yet  
    p 
      a(href="/music/artist/create") Create artist