extends layout

block link

block content
  h1= title
  div
    form(method="POST" enctype="multipart/form-data" class="flex flex-col gap-3 p-4")
      label Name:*
        | 
        input(id="name" type="text", name="name" placeholder="Enter artist name" required value=(undefined===artist?'':artist.name)) 
      br
      label Description:*
        | 
        input(type="text", name="description" placeholder="Once upon a time..." required value=(undefined===artist?'':artist.description))  
      br
      label Added by:*
        | 
        input(type="text", name="added_by" placeholder="Enter your name" required value=(undefined===artist?'':artist.added_by)) 
      br
      label Personal rating:*
        | 
        input(type="number", name="personal_rating" placeholder="10" required value=(undefined===artist?'':artist.personal_rating)) 
      br
      label Artist image:
        | 
        input(type="file", name="avatar" accept="image/*") 
      if artist !== undefined && artist.image 
        p 
          strong *This artist already has an image, send a new file if you wish to update it.
      hr
      button(type="submit") Submit

  if errors
    hr  
    ul.list-disc
      each err in errors
        li= err.msg
      li Data is invalid so your previous uploaded image is removed, please send it again (If you sent it previously)!