extends layout

block link

block content
  h1= title
  p Welcome to #{title}
  form(method="post" enctype="multipart/form-data")
    input(type="file" name="avatar" accept="image/*") 
    input(type="text" name='name')
    button(type="submit") Submit