extends layout

block link

block content
  ul(class="flex items-center justify-evenly max-w-sm mx-auto font-bold")
    li  
      |All
      a(class="text-sky-500 transition-all hover:text-white hover:bg-sky-500 p-1 rounded underline underline-offset-4 decoration-dotted hover:decoration-solid font-bold" href="/music/artists") artists
      |: #{artists}
    li |
    li 
      |All
      a(class="text-sky-500 transition-all hover:text-white hover:bg-sky-500 p-1 rounded underline underline-offset-4 decoration-dotted hover:decoration-solid font-bold" href="/music/songs") songs
      |: #{songs}

