extends layout

block link

block content
  ul(class="list-disc")
    li  
      |All
      | 
      a(href="/music/artists") artists
      |: #{artists}
    li 
      |All
      | 
      a(href="/music/songs") songs
      |: #{songs}

