doctype html
html
  head
    meta(charset="utf-8")
    meta(name="viewport" content="width=device-width, initial-scale=1")
    meta(name="description" content="I need new songs, any recommendation?")
    meta(name="robots" content="index,follow")
    meta(name="googlebot" content="index,follow")
    meta(name="google" content="notranslate")
    meta(name="subject" content="your document's subject")
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel="stylesheet", href="/stylesheets/custom.css")
    //- our custom javascript and css files
    block link
  body
    div#wrapper(class="min-h-screen flex flex-col justify-between gap-4 text-dark max-w-2xl w-full mx-auto")
      header(class="flex justify-between gap-4 p-2 shadow-xl")
        h1(class="font-extrabold text-lg font-mono") 
          a(href="/music") Gimme music 
        nav(class="text-xs flex-1 text-right font-serif")
          ul(class="grid grid-cols-3 gap-3 transition-all")
            li(class="") 
              a(class="text-sky-500 hover:text-white hover:bg-sky-500 p-1 rounded underline underline-offset-4 decoration-dotted hover:decoration-solid font-bold" href="/music/") Home
            li(class="") 
              a(class="text-sky-500 hover:text-white hover:bg-sky-500 p-1 rounded underline underline-offset-4 decoration-dotted hover:decoration-solid font-bold" href="/music/artists") Artists
            li(class="5")
              a(class="text-sky-500 hover:text-white hover:bg-sky-500 p-1 rounded underline underline-offset-4 decoration-dotted hover:decoration-solid font-bold" href="/music/songs") Songs      
          
            li(class="") 
              a(class="text-sky-500 hover:text-white hover:bg-sky-500 p-1 rounded underline underline-offset-4 decoration-dotted hover:decoration-solid font-bold" href="/music/about") About  
            li(class="") 
              a(class="text-sky-500 hover:text-white hover:bg-sky-500 p-1 rounded underline underline-offset-4 decoration-dotted hover:decoration-solid font-bold" href="/music/artist/create") Add artist      
            li(class="") 
              a(class="text-sky-500 hover:text-white hover:bg-sky-500 p-1 rounded underline underline-offset-4 decoration-dotted hover:decoration-solid font-bold" href="/music/song/create") Add song  

      main(class="flex-1 p-2")
        block content 

      footer(class="p-2 flex items-center justify-center border-t-2") 
        p(class="text-xs")
          a(class="text-sky-500 hover:text-white hover:bg-sky-500 p-1 rounded underline underline-offset-4 decoration-dotted hover:decoration-solid font-bold font-mono" href="https://github.com/minhhoccode111/inventory-application-top/") This project
          |is made with 
          span(class="text-red-400") love 
          |by
          a(class="text-sky-500 hover:text-white hover:bg-sky-500 p-1 rounded underline underline-offset-4 decoration-dotted hover:decoration-solid font-bold font-mono" href="https://github.com/minhhoccode111/") minhhoccode111
          |.