doctype html
html
  head
    meta(charset="utf-8")
    meta(name="viewport" content="width=device-width, initial-scale=1")
    meta(name="description" content="I need new songs, any recommendation?")
    meta(name="robots" content="index,follow")
    meta(name="googlebot" content="index,follow")
    meta(name="google" content="notranslate")
    meta(name="subject" content="your document's subject")
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    //- our custom javascript and css files
    block link
  body
    div#wrapper(class="")
      block content 
