extends layout 

block content
  h2(class="font-bold text-lg my-4") Songs
  if songsList.length !== 0
    ul(class="flex flex-col gap-3")
      each song in songsList 
        li(class="text-xs")
          h3(class="text-lg")
            a(href=song.url)!= song.name 
          p(class="")
            each artist, index in song.artist
              i(class="")!= artist.name
              if index === song.artist.length - 1
                |. 
              else 
                |, 
          p(class="")!= song.description_short

  else 
    div(class="mx-auto max-w-sm font-bold text-center my-8")
      p(class="text-red-700") There are no songs here yet  
      p(class="") 
        a(href="/music/artist/song") Create song