extends layout 

block content
  h1= title
  hr
  if songsList.length !== 0
    ul.list-disc 
      each song in songsList 
        li
          h2 
            a(href=song.url)!= song.name 
          p!= song.description_short

  else 
    p There are no songs here yet  
    p 
      a(href="/music/song/create") Create song